<div class="row d-flex align-items-center page-content">

  <!-- .col -->
  <div class="col-lg-4">
    <div class="card">
      <img class="card-img-top img-responsive" src="../assets/images/no-image.png"
        style="max-height: 220px; object-fit: scale-down;" alt="Card image cap">
      <div class="card-body">
        <ul class="list-inline font-14">
          <li class="p-l-0">FECHA</li>
          <li><span class="label label-danger">PENDIENTE</span></li>
        </ul>
        <h3 class="font-normal"># REPORTE</h3>
        <p class="m-b-0 m-t-10">CATEGORIA</p>
        <button class="btn-sm btn-primary btn-rounded btn-block waves-effect waves-light m-t-20">VER</button>
      </div>
    </div>
  </div>
  <!-- /.col -->

</div>
